<div class="container">
  <div class="parent" *ngIf="customer">
    <div class="row">
      <div class="column">
        <div class="card">
          <!-- <img *ngIf="customer.imgUrl" src="{{customer.imgUrl}}" height="100" width="100"> -->
          <img src="{{customer.imgUrl}}" height="100" width="100">
          <div class="container">
            <h2 hidden>{{customer.customer_id}}</h2>
            <p class="title">{{customer.last_name}}</p>
            <p>{{customer.address}}</p>            
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary mt-3" [disabled]="">
      <a routerLink="/Customerdetail/{{customer.customer_id}}/edit">Edit</a>
    </button>
  </div>
</div>




