.parent{
   min-height: 900px;
}
.imageClass{
    width:200px;
    height:200px;
}
/* .vertical-align{
    display: flex;
    align-items: center;
}

.details li {
    list-style: none;
  }
  li {
      margin-bottom:10px;
      
  } */

.card-body {
    height: 300px;

}

.delBtn, .editBtn {
    width: 50%;
   margin: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.pagination{
    margin-top: 20px;
	bottom: 0;
}