<!-- <div class="container">
  <div class="row">
  </div>
  <div class="parent" *ngFor="let item of customer | paginate:{itemsPerPage: 5,currentPage:p}; let i = index">
    <div class="row">
      <div class="column">
        <div class="card">
          <img *ngIf="item.imgUrl" src="{{item.imgUrl}}" height="100" width="100">
          <img src="{{item.imgUrl}}" height="100" width="100">
          <div class="container">
            <h2 hidden>{{item.customer_id}}</h2>
            <p class="title">{{item.last_name}}</p>
            <p class="title">{{item.first_name }}</p>
            <p>{{item.address}}</p>
            <p><button class="button">
                <a routerLink="/Customerdetail/{{item.customer_id}}">Contact</a>
              </button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
 -->

<div class="container">
  <div class="row parent" height="500px">
    <div class="col-md-3 card-items"
      *ngFor="let item of customer | paginate:{itemsPerPage: 8,currentPage:p}; let i = index">
      <h4 class="py-lg-4 pb-4 text-center"></h4>
      <div class="card card-cascade narrower mb-4" style="margin-top: 58px">

        <div class="view view-cascade">
          <img *ngIf="item.imgUrl" src="{{item.imgUrl}}" height="232" width="254">
          <img *ngIf="item.imgUrl === null" src="./../../assets//img/unnamed.jpg" height="232" width="254">
        </div>
        <hr>
        <div class="card-body card-body-cascade">          
          <h5 class="title"> {{item.last_name}} {{item.first_name }}</h5>
          <p class="pink-text"><i class="fas fa-venus-mars"> {{item.gender| lowercase}} </i></p>
          <p><i class="fas fa-home"> {{item.city}} </i></p>
          <p><i class="fas fa-envelope"> {{item.email}}</i></p>
          <p><i class="fas fa-address-card"></i> {{item.address}}</p>
          <p><i class="fas fa-phone"></i> {{item.phone_number}}</p>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary editBtn">
            <a routerLink="/Customerdetail/{{item.customer_id}}">Contact</a>
          </button>
          <button type="button" class="btn btn-danger delBtn">
            <a routerLink="/Customerdetail/{{item.customer_id}}">Contact</a>
          </button>

        </div>

      </div>

    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>